#corpo{
    margin-top: 35px;
    background-color: rgb(108, 127, 247);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}   

header,footer{
    align-items: center;
    text-align: center;
}

section{
    width: 380px;
    background-color: rgba(245, 245, 245, 0.804);
    margin: auto;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.315);
    border-radius: 4px;
    color: black;
}

#text{
    /* margin-left: 15px; */
    padding: 15px;

}

input{
    border-radius: 6px;
    width: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#button{
    width: 60px;
}

#resultado{
    display: inline;
    padding: 10px;
}