<!DOCTYPE html>
    <%- include('../parts/head'); %>


     <body class="container">
        <%- include('../parts/header', {pagina: 'Sobre'}); %>
        
        <main>
            <div class="jumbotron">
                <h1>
                    Sobre mim
                </h1>
                <p>Me chamo Ítalo e estou estudando programação!</p>
            </div>
        </main>
        
        <%- include('../parts/footer'); %>
     </body>

</html>